---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import HeaderImage from '../components/HeaderImage.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate, description, keywords, heroImage } = Astro.props
---

<html lang="uk-UA" class="js-on csstransforms csstransforms3d csstransitions">
  <head>
    <BaseHead {title} {keywords} {description} />
  </head>
  <body id="top" class="boxed stickymenu stickyfooter" style="">
    <script type="text/javascript" src="/js/addthis_widget.js" async="async"></script>
    <div id="wrapper" style="margin-bottom: 75px;">
      <Header activeMenu="blog" />

      <HeaderImage title="Новини" imageSrc="/media/blog.jpg" />

      <div id="main" class="wrapper">
        <div class="main-content container commonpage">
          <div class="post-date"><FormattedDate date={pubDate} /></div>
          <h2 class="main-title">
            {title}
            <span class="title-meta clearfix">
              <span><a href="/blog" class="prev"></a></span>
            </span>
          </h2>
          <div class="type-post clearfix">
            <div class="post">
              <div class="post-header">
                <div class="hero-image">
                  {heroImage && <img width={1020} height={510} src={heroImage} alt={title} />}
                </div>
              </div>
              <div class="post-body">
                <slot />
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
